@charset "UTF-8";

.pointer-target {
  width: 100%;
  max-width: 400px;
  min-height: 100px;
  background: cyan;
  border: solid 1px black;
  display: flex;  
}

.pointer-target p {  
  margin: auto;
  align-self: center;
}
