@charset "UTF-8";

.space {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.emphasis {
	color: blue;
	font-weight: bold;
}

.warn {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.invisible {
	display: none;
}

