@charset "UTF-8";

.space {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.emphasis {
	color: blue;
	font-weight: bold;
}

.warn {
	color: coral;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.note {
	color: navy;
}

.normalsize {
	font-size: 110%;
}

.largesize {
	font-size: 200%;
}

.content-title::before {
	content: counter(titlecount, lower-alpha) ". ";
	color: red;
}

.content-title {
	counter-increment: titlecount;
	counter-reset: none;
}
