@charset "UTF-8";

.author-table { 
	width: 30%;
	border-collapse: collapse; 
	border-bottom: 1px solid #000000; 
} 

.author-table-header{ 
	text-align: center; 
	background: none repeat scroll 0 0 #B5B5B5; 
	border-bottom: 1px solid #000000; 
	border-top: 1px solid #000000; 
	padding:2px; 
} 

.author-table-row {
	text-align: center;
}

.author-table-row:nth-child(odd) {
	background: none repeat scroll 0 0 #FFFFFF;
}

.author-table-row:nth-child(even) {
	background: none repeat scroll 0 0 #D3D3D3;
}
