@charset "UTF-8";

dialog {
  width: 400px;
  height: 350px;
  background-color: pink;
}

[inert=true], [inert=true] * {
  opacity: 0.7;
}

.sampleContainer {
  width: 400px;
  height: 150px;
  background-color: pink;
}
