@charset "UTF-8";

:host {
    display: block;
    contain: content;
}

.base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr; /* これを指定しないと要素が縦に並ぶ。 */
}

.param {
    min-width: 3rem;
}
