@charset "UTF-8";

h1 {
    text-align: center;
}

ac-slot {
    width: 100%;
    max-width: 600px;
    background-color: beige;
}

air-state {
    margin: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
    border: 1px lemonchiffon solid;
    border-radius: 5px;
    background-color: cornsilk;
}
