**/build
**/dist
**/build.xml
**/nbproject
**/manifest.mf
**/*.xcuserstate
**/*.xcodeproj
**/*.dSYM
**/*.xcworkspace
**/xcuserdata
**/*.xcplayground
**/*.xcworkspacedata
**/*.wasm
**/wasmoutput
**/.idea
**/*.iml
**/out
/lang/java/webcise/web/studyinghtml5/webrtc/rtcdatachannel/adapter.js