**/build
**/dist
**/build.xml
**/nbproject
**/manifest.mf
**/*.xcuserstate
**/*.xcodeproj
**/*.dSYM
**/*.xcworkspace
**/xcuserdata
**/*.xcplayground
**/*.xcworkspacedata
**/*.wasm
**/wasmoutput
**/.idea
**/*.iml
**/out
**/adapter.js
**/bin
**/tfjs.js
**/node_modules
**/package-lock.json
**/*.toml
**/*.lock
**/*.cargo-lock
**/*.bin
**/*.timestamp
**/target/rls
**/target/debug
**/target/doc
**/*.class
**/*.jar
**/*-runtime
**/*.vscode
**/.rustc_info.json
.gitignore.swp
.env
d3.*.js
package.json
**/typescript/**/*.js
**/javascript/webxam/public/webassembly/common/lib
**/javascript/webxam/public/php/pdf/office_sample_pdf.pdf
**/javascript/webxam/public/php/pdf/pdfjs
**/javascript/webxam/public/d3/topojson.v0.min.js
**/javascript/webxam/public/d3/townline/geodata/conuntries.topojson
**/*.out
**/*target
*.gml
.DS_Store


