**/build
**/dist
**/build.xml
**/nbproject
**/manifest.mf
**/*.xcuserstate
**/*.xcodeproj
**/*.dSYM
**/*.xcworkspace
**/xcuserdata
**/*.xcplayground
**/*.xcworkspacedata
**/*.wasm
**/wasmoutput
**/.idea
**/*.iml
**/out
**/adapter.js
**/bin
**/tfjs.js
**/node_modules
**/package-lock.json
**/*.toml
**/*.lock
**/*.cargo-lock
**/*.bin
**/*.timestamp
**/target/rls
