@charset "UTF-8";

main {
  display: flex;
  flex-direction: column; /* 縦一列のみの表示を強制する。 */
}

section {
  align-self: center; /* flex-directionとクロスする方向でflexコンテナ内の要素を中央揃えする。 */
}

code {
  background-color: whitesmoke;
}
