<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../common.css" />
  <script type="module" src="index.js"></script>
</head>

<body>
  <header>
    <a href="../../">home</a>
    <h1></h1>
  </header>
  <main>
    <label>入力<input data-event-args value="" /></label>
    <button data-event-trigger>run</button>
    <p>結果</p>
    <div class="output"></div>
  </main>
  <footer>
    <p>参考</p>
    <li><a href=""></a></li>
  </footer>
</body>

</html>