@charset "UTF-8";

#prompt {
  width: 100%;
  height: 5rem;
}

.selected-file-image {
  border: 1px solid whitesmoke;
}

.description {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.description::before {
  content: "";
  display: block
}

.web-server-mode-options {
  margin: 1rem;
}
