@charset "UTF-8";

/*
 * 参考:
 * https://css-tricks.com/
 */

h1 {
    text-align: center;
}

input, button {
    font-size: 16px;
}

footer {
    margin: 0.25em;
    border-top: 1px solid lightgray;
}

.output {
    width: 100%;
    height: 300px;
    max-width: 400px;
    overflow-y: scroll;
    background: whitesmoke;
    border: solid 1px darkgrey;
    overflow-wrap: break-word;
}

.error {
    color: red;
    font-style: italic;
}
