@charset "UTF-8";

section {
    background-color: beige;
}

tensor-formula {
    /* 
    この変数名(=CSS カスタム プロパティ)でユーザーがcustom element(=コンポーネント)の
    スタイルを変更できることはドキュメントなどでユーザーに知らされていなければならない。
    つまりCSS カスタム プロパティは公開インターフェースとなる。
    */
    --tensor-formula-fontsize: 150%;
    --tensor-custom-bg: rgba(204, 255, 204, 0.2);
}

tensor-model {
    --tensor-custom-bg: rgba(255, 204, 153, 0.2);
}
