@charset "UTF-8";

@import './sub/sub.css' layer(sub);

/* 後に宣言されたlayerのスタイルが優先的に適用される。 */
/* importで読み込んだlayerの優先度は宣言順の影響を受けない。 */
/* @layer special, sub, main; */

/* 非layerのスタイルが最も優先度が高くなる。 */
.mylink {
  color: gold;
  font-size: 1em;
}

@layer main {
  a {
    color: green;
  }

  div {
    border: dashed 2px blue;
  }

  .mylink {
    color: yellow;
    font-size: 1.5em;
  }
}

/* mainより後に宣言されているのでmainより優先度が高くなる。 */
/* ただし詳細度を高く指定していてもlayerではないスタイルには優先度で劣る。 */
@layer special {
  a {
    color: turquoise;
  }

  section a.mylink {
    color: grey;
    font-size: 0.5em;
  }
}
