@charset "UTF-8";

@import './sub/sub.css' layer(sub);

/* 後に宣言されたlayerのルールが優先的に適用される。 */
/* importで読み込んだlayerの優先度は宣言順の影響を受けない。 */
/* @layer special, sub, main; */

/* 非layerのルールが最も優先度が高くなる。 */
em {
  font-style: normal;
}

.mylink {
  color: gold;
  font-size: 1em;
}

@layer main {
  a {
    color: green;
  }

  div {
    border: dashed 2px blue;
  }

  .mylink {
    color: yellow;
    font-size: 1.5em;
  }
}

/* mainより後に宣言されているのでmainより優先度が高くなる。 */
/* ただし詳細度を高く指定していてもlayerではないルールには優先度で劣る。 */
@layer special {
  a {
    color: turquoise;
  }

  section a.mylink {
    color: grey;
    font-size: 0.5em;
  }
}

@layer text {
  @layer emphasis {
    em {
      font-style: italic; /* 非layerのルールに優先度で劣るので無視される。 */
      text-decoration: underline;            
    }
  }

  p { 
    font-style: normal;
  }
}

/* ネストしたlayerへのルール追加 */
@layer text.emphasis {
  em {
    color: darkblue;
  }
}
