@charset "UTF-8";

section {
  width: 100%;
  height: 500px;
}

.page {
  border: 1px solid darkgrey;
}

.invisible {
  display: none;
}

#page1 {
  background-color: lightcoral;
}

#page2 {
  background-color: lightcyan;
}

#page3 {
  background-color: palegoldenrod;
}
