@charset "UTF-8";

.samplecontainer {
  border: solid 1px darkgray;
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow-y: scroll;
}

.samplearea {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: turquoise;
}

.scrollTimelineContainer {
  max-height: 400px;
  overflow-y: scroll;
}

.content {
  border: solid 1px darkgray;
  background-color: snow;
  height: 2000px;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: mediumseagreen;
  /* position: fixed; */
  position: sticky;
  top: 0px;
  left: 0%;
}
