@charset "UTF-8";

.main-container {
	background-color: snow;
}

.promise-result-container {
	width: 100%;
}

.promise-result-control-panel {
	width: 100%;
}

.promise-result-canvas {
	border: 1px gold solid;
	background-color: white;
}

#promise-result-area {
	width: 100%;
	/*border: none;*/
}

#clear-promise-element {
	width: 100%;
	height: 3em;
}
