@charset "UTF-8";

.samplerect {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  width: 250px;
  height: 250px;
  --sample-color: url('exam.js'); /* わざと色として不正な値を指定 */
  /* --sample-color: blue; */
  background: radial-gradient(var(--sample-color), #00FF33);
  transition: --sample-color 1s, transform 1s, color 1s; 
}

/* モバイルデバイスでhoverをエミュレートするためのactive */
.samplerect:is(:hover, :active) {
  --sample-color: yellow;
  transform: rotate(360deg);
  color: orange;
}
