@charset "UTF-8";

body, header, .mapcontainer {
  margin: 0;
}

header {
  height: 10vh;
}

.mapcontainer {
  width: 100vw;
  height: 90vh;  
}

.wide {
  color: red;
}

.narrow {
  color: blue;
}

#map {
  width: 100%;
  height: 100%;
}
