@charset "UTF-8";

body {
  display: flex;
  flex-flow: column nowrap;
}

main {
  min-height: 100vh;
  flex: 1;
}

.container {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px darkgray;
  background: #CCFFFF;
}

.attention {
  position: absolute;
  left: 0;
  top: 0;
}

.bounding-box rect {
  fill: none;
  stroke: #FF3300;
  stroke-dasharray: 2, 2;
}

.centroid {
  display: none;
}

.centroid circle {
  fill: blue;
}
