@charset "UTF-8";

main {
	width: 100%;
}

main .Chapters .TestStarter {
	display: flex;
	flex-wrap: wrap;
}

main .Chapters .TestStarter button {
	flex: 1 0 300px;
	height: 100px;
	font-size: 150%;
}
