@charset "UTF-8";

/* copy非対応ブラウザでは非表示にする。 */
.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
  background: mediumturquoise;
  border: none;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
