@charset "UTF-8";

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

section {
  background: ghostwhite;
}

footer {
  border-top: dashed 1px darkgray;
  margin: 1ch;
}

/* copy非対応ブラウザでは非表示にする。 */
.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
  background: mediumturquoise;
  border: none;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
