@charset "UTF-8";

.example {
  width: 100%;
}

my-autocomplete-form {
  max-width: min-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background: beige;
}

sample-declarative-element {
  display: block;
  contain: content;
  width: 100%;
  max-width: 400px;
  background: seashell;
  border: solid blue 1px;
  color: red;
}

sample-declarative-element {
  margin: 1em;
}

/* templateの外側にある要素であればCustomElements内にあってもスタイルが適用される。 */
sample-declarative-element p {
  color: green;
}

/* 以下は無効 */
sample-declarative-element template p {
  color: violet;
}

custom-profile {
  /* --common-profile-colorは継承されるため上書きして別の値を設定できる。 */
  --common-profile-color: rgb(0, 51, 204);
  border: solid 1px var(--common-profile-color);
  color: var(--common-profile-color);
}
